html
    head
        title Mafia
    body
        h1 Rooms
        ul
          each lobby in lobbies
              li
                  div= lobby.id
                  div= lobby.players
                  form.addPlayerForm
                      input(name="lobbyId" type="hidden" value=lobby.id)
                      button Join

        button#addRoomButton Host

        script(src="./script.js")
